<div class="addNew">
	<span><i class="fa fa-plus fa-lg" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
</div>
<p>
	{{currentGroup?.name}}
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>
						<!-- <select [(ngModel)]="selectedValue" name="first">
								<option *ngFor="let o of options">
								  {{o.name}}
								</option>
							  </select> -->
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>